@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-center{
  text-align: center;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}

.main{
  max-width: 1440px;
  margin: 0 auto;
  background-color: #a19dbb;
  padding: 30px;
}
.btn{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: .3s;
}

.btn:hover{
  background-color: #3e8e41;
}

.answer-list{
  list-style-type: none;
}