@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-center{
  text-align: center;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}

.main{
  max-width: 1440px;
  margin: 0 auto;
  background-color: #a19dbb;
}
.btn{
  margin: 0 auto;
}